<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESOTEC UTVT API</title>
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/api.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="apifond">
    <header>
        <img class="img-letras" src="public/img/letrasutvt.png">
        <nav class="letrasbarra">
            <li>
                <i class="bi bi-journal-text"></i>
                <a href="/">Inicio</a>
            </li>
            <li>
                <i class="bi bi-journal-text"></i>
                <a  href="nosotros">Nosotros</a>
            </li>
            
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a  href="api">Api</a>
            </li>
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a href="redessociales">Redes Sociales</a>
            </li>
        </nav>
    </header>
    
<div>
<div class="container">
        <h2 style="color: rgb(15, 105, 105);">controlacs(API)</h2>
        <a href="/api/administradores">Administrador</a>
        <a href="/api/alumnos">Alumno</a>
        <a href="/api/acceso">Horas de acceso</a>
      </div>
    

</div>
    
</body>

</html>