<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESOTEC UTVT</title>
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="imagendefondo">
    <header>
        <img class="img-letras" src="public/img/letrasutvt.png">
        <nav class="letrasbarra">
            <li>
                <i class="bi bi-journal-text"></i>
                <a class="letrasbarra" href="/">Inicio</a>
            </li>
            <li>
                <i class="bi bi-journal-text"></i>
                <a class="letrasbarra" href="nosotros">Nosotros</a>
            </li>
            
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a class="letrasbarra" href="ayuda">Ayuda</a>
            </li>
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a  class="letrasbarra" href="redessociales">Redes Sociales</a>
            </li>
           <li></li>
        </nav>
    </header>

    <div>
       

        <script src="../controlacs/src/app.js"></script>


    </div>
</body>

</html>