<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCESOTEC UTVT</title>
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/nosotros.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body>
    <header>
        <img class="img-letras" src="public/img/letrasutvt.png">
        <nav class="letrasbarra">
            <li>
                <i class="bi bi-journal-text"></i>
                <a class="letrasbarra" href="/">Inicio</a>
            </li>
            <li>
                <i class="bi bi-journal-text"></i>
                <a class="letrasbarra" href="nosotros">Nosotros</a>
            </li>
            
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a class="letrasbarra" href="api">Api</a>
            </li>
            <li>
                <i class="bi bi-person-lines-fill"></i>
                <a  class="letrasbarra" href="redessociales">Redes Sociales</a>
            </li>
           <li></li>
        </nav>
    </header>

    <div>
       <div class="nosotros">
            <h1>Nosotros</h1>
        <p >"¡Saludos! Somos un grupo de cuatro estudiantes de la Universidad Tecnológica del Valle de Toluca y nos emociona presentarte nuestro proyecto: "Acceso Tecnológico para la UTVT". Hemos trabajado arduamente para desarrollar este sistema de control de accesos, diseñado específicamente para nuestra querida universidad. Con dedicación y entusiasmo, creamos esta solución tecnológica que fortalece la seguridad y eficiencia en el acceso a nuestras instalaciones. Estamos orgullosos de contribuir al desarrollo tecnológico de nuestra comunidad estudiantil y mejorar la experiencia universitaria para todos. ¡Bienvenido a Acceso Tecnológico para la UTVT!"</p>
       <br><img class="logo" src="public/img/logo.jpg" alt="">
    <h3 class="izquierda" >#VuelaAlto </h3>
    <h3 class="centrado">#Vuelalejos</h3><h3 class="derecha">#SiempreCuervos</h3>
</div>
       


    </div>
</body>

</html>