<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes Sociales</title>
    <link rel="stylesheet" href="public/css/index.css">
    <link rel="stylesheet" href="public/css/redes.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>

<body class="imagendefondo">
    <header>
        <img class="img-letras" src="public/img/letrasutvt.png">
        <nav class="letrasbarra">
            <ul>
                <li>
                    <i class="bi bi-journal-text"></i>
                    <a class="letrasbarra" href="/">Inicio</a>
                </li>
                <li>
                    <i class="bi bi-journal-text"></i>
                    <a class="letrasbarra" href="nosotros">Nosotros</a>
                </li>
                
                <li>
                    <i class="bi bi-person-lines-fill"></i>
                    <a class="letrasbarra" href="api">Api</a>
                </li>
                <li>
                    <i class="bi bi-person-lines-fill"></i>
                    <a  class="letrasbarra" href="redessociales">Redes Sociales</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="contenido">
        <div class="redes">
            <div>
                <h1>Nuestras Redes Sociales</h1>
                <br>
                <p>
                    <i class="bi bi-facebook"></i>
                    <a class="redes-link" href=" ">Facebook</a>
                </p>
                <p>
                    <i class="bi bi-instagram"></i>
                    <a class="redes-link" href="https://www.instagram.com/juan_21_c/">Instagram</a>
                </p>
                <p>
                    <i class="bi bi-whatsapp"></i>
                    <a class="redes-link" href="https://wa.me/7226414302">Whatsapp</a>
                </p>
            </div>
        </div>
    </div>
</body>

</html>
